/* Colors */
$black1: #1C1D21;
$black2: #1B1B1C;
$black3: #0A0A0A;
$black4: #111111;
$black5: #222328;
$black6:#141414;
$ghostWhite: #F9FDFF;
$babyPowder: #FCFCFC;
$antiFlashWhite: #F2F2F2;
$whiteSmoke:#F4F4F4;
$terra: #E26D5A;
$pink: #E2A9A1;

/* Fonts */
$font-Script: 'Kaushan Script', cursive;
$font-Josefin: 'Josefin Sans', sans-serif;
