.btn{
  background-color: $terra;
  color: #fff;
  text-transform: uppercase;
  font-family: $font-Josefin;
  padding: .75rem 1.2rem;
  transition: .3s;
  /* display: inline-block; */

  &--price-plan{
    margin-top: 43px;
    margin-bottom: 33px;
  }

  &--submit{
    border: none;
    width: 100%;
    background-color: #EB907A;
    cursor: pointer;

    @mixin atExLarge{
      width: 20%;
    }

    &:hover{
      background-color: $terra;
    }
  }
}
