.btn{
  background-color: $terra;
  color: #fff;
  text-transform: uppercase;
  font-family: $font-Josefin;
  padding: .75rem 1.2rem;
  transition: .3s;
  /* display: inline-block; */

  &--price-plan{
    margin-top: 2.6875rem;
    margin-bottom: 2.0625rem;
  }

  &--submit{
    border: none;
    width: 100%;
    background-color: #EB907A;
    cursor: pointer;


    @mixin atExLarge{
      width: 20%;
    }

    &:hover{
      background-color: $terra;
    }
  }

  &--footer{
    width: 100%;

    @mixin atMedium{
      width: 20%;
    }

    @mixin atLarge{
      width: 20%;
    }

    @mixin atExLarge{
      width: 20%;
    }


  }

}
