.heading{

  font-family: $font-Josefin;
  font-weight: 300;
  font-size: 1.9rem;
  color: $black1;

  @mixin atSmall{
    font-size: 2.875rem;
  }

  &--newsletter{
    font-size: 1.5rem;
  }







}
