.heading{

  font-family: $font-Josefin;
  font-weight: 300;
  font-size: 1.9rem;
  color: $black1;

  @mixin atSmall{
    font-size: 2.875rem;
  }

  &--about{
    font-size: 3rem;
    line-height: 1.3;

    @mixin atExSmall{
      font-size: 1.7375rem;
    }

    @mixin atSmall{
      font-size: 2.1875rem;
    }
  }

  &--center{
    text-align: center;
  }

  &--newsletter{
    font-size: 1.5rem;
  }

  &--baby-powder{
    color: $babyPowder;
  }



}
